body {
  background-image: url("img/clouds.jpg");
  background-size: cover;
}

.profile-container {
  text-align: center;
  width: 50%;
  background-color: #baccda;
  margin: 0 auto;
  padding: 2% 0;
  border-radius: 5%;
}

.profile-img {
  width: 30%;
  border-radius: 50%;
}

h1 {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2em;
  color: white;
}

.profile-icon {
  width: 50px;
  text-align: left;
  display: inline-block;
}

#content-container {
  display: flex;
  flex-wrap: no-wrap;
  flex-flow: flex-grow 33%;
  width: 100%;
}

#col1, #col2, #col3 {
  background-color: white;
  display: inline-block;
  width: 100%;
  margin: 1% 1%;
  padding: 1% 2%;
}

h3 {
  margin: 0;
  color: #3f65a6;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: block;
}

.header {
  font-weight: bolder;
}

.subheader {
  font-size: 0.8em;
  font-style: italic;
}

.no-style {
  list-style-type: none;
}

img {
  width: 90%;
  border-radius: 20%;
}

.portfolio {
  display: block;
}

@media only screen and (max-width: 768px) {

  .profile-img {
    width: 50%;
  }

  .profile-container {
    width: 80%;
  }

  #content-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  #col1, #col2, #col3 {
    background-color: white;
    display: inline-block;
    margin: 1% 1%;
    padding: 1% 2%;
    flex-flow: flex-grow 80%;
  }

}
